.main__content {
  display: flex;
  flex-direction: column;
  .title {
    color: whitesmoke;
    font-size: 3rem;
    margin: 0 20px;
  }
}

.container__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 900px;

  .card {
    border: 3px solid whitesmoke;
    border-radius: 6px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 380px;
    &__img {
      width: 100%;
      height: 100%;
      &--element {
        width: 100%;
        height: 100%;
        border: 1px solid pin k;
      }
    }

    &__textos {
      width: 100%;
      height: 100%;
      &--titulo {
        font-family: sans-serif;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: whitesmoke;
        font-size: 1.2rem;
        &__nombreProyecto {
          color: whitesmoke;
          font-size: 1.3rem;
        }
        &__textoProyecto {
          color: whitesmoke;
          font-size: 1.2rem;
        }
        &__link {
          color: pink;
        }
      }
    }
  }
}
