/*
  RESPONSIVE:
  
  Breakpoints:
  big-desktop: 112.5em    // 1800px
  desktop: 75em           // 1500px
  laptop: 62.5em          // 1000px
  tablet: 43.75em         // 700px
  phone: 31.25em          // 500px
  sm-phone: 21.875em      // 350px
  
  THIS IS TEMPORAL WHILE THE DESIGN IS DEVELOPED AND MIGHT BE CHANGED IN TIME.
  
*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap");
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-size: 250px;
  background-color: #0c090d;
  position: relative;
  -webkit-transition: all 1.4s cubic-bezier(0.52, -0.52, 0, 1.05);
  transition: all 1.4s cubic-bezier(0.52, -0.52, 0, 1.05);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container_navbar {
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: #53b3cb;
  -webkit-box-shadow: 0px 0px 5px 3px #494949;
          box-shadow: 0px 0px 5px 3px #494949;
}

.navbar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links li {
  margin: 0px 60px 0px 20px;
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links li a {
  color: #eaeaea;
  text-decoration: none;
}

@media only screen and (max-width: 31.25em) {
  .navbar {
    width: 300px;
    padding: 20px;
  }
  .navbar__flex {
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .navbar__links li {
    border: 1px solid white;
    font-size: 1.2rem;
  }
}

.main {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0px 0 0px 0px;
  line-height: 150px;
  text-align: center;
  font-family: "League Spartan", sans-serif;
}

.main__info--title {
  font-size: 9rem;
  font-weight: 500;
}

.main__info--subtitle {
  font-size: 5rem;
}

@media only screen and (max-width: 31.25em) {
  .main {
    width: 100%;
    line-height: 50px;
  }
  .main__info--title {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .main__info--subtitle {
    font-size: 4rem;
  }
}

.bodyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 675px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bodyContainer .aboutMe__img {
  border: 1px solid white;
  width: 30%;
  height: 60%;
  margin: 0 20px 0 40px;
  border-radius: 360px;
  background-size: cover;
}

.bodyContainer .aboutMe {
  font-family: "League Spartan", sans-serif;
  color: white;
  padding: 0 20px;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bodyContainer .aboutMe__title {
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
  color: white;
}

.bodyContainer .aboutMe__info {
  font-size: 1.5rem;
  padding: 0px 0px 0px 0px;
  margin-bottom: 2rem;
  line-height: 1.625;
  font-weight: 500;
  text-align: start;
}

.bodyContainer .aboutMe__info .path {
  color: #e01a4f;
  margin-right: 10px;
}

.boton {
  border: none;
  min-width: 180px;
  width: 40px;
  height: 35px;
  font-size: 20px;
  padding: 6px 8px;
  margin: 35px 0px 0px 0px;
  color: #eaeaea;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 75px;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e01a4f;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "League Spartan", sans-serif;
  padding: 6rem 20px;
}

.main__content .title {
  color: whitesmoke;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
  margin-left: 1.3rem;
}

.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 1000px;
}

.container__content .card {
  border: 3px solid whitesmoke;
  border-radius: 6px;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  height: 420px;
}

.container__content .card__img {
  width: 100%;
  height: 100%;
}

.container__content .card__img--element {
  width: 100%;
  height: 100%;
  border: 1px solid pink;
}

.container__content .card__textos {
  width: 100%;
  height: 100%;
  margin: 0.5rem 0;
}

.container__content .card__textos--titulo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: whitesmoke;
  font-size: 1.2rem;
}

.container__content .card__textos--titulo__nombreProyecto {
  color: whitesmoke;
  font-size: 1.3rem;
}

.container__content .card__textos--titulo__textoProyecto {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 700;
}

.container__content .card__textos--titulo__link {
  color: pink;
}

.footer {
  width: 100%;
  height: 100px;
  font-family: "League Spartan", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__credits {
  margin: 0 20px;
  color: #53b3cb;
  font-size: 1.4rem;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  height: 40px;
  text-decoration: none;
  color: whitesmoke;
}

.footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #53b3cb;
  font-size: 30px;
  width: 80px;
}
/*# sourceMappingURL=main.css.map */